<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.include.test1.member.dao.MemberMapper">

	<insert id="insertMember" parameterType="member">
		insert into test_member(
			id
			,pw
			<if test="name != null and name != ''">
			,name
			</if>
			<if test="email != null and email != ''">
			,email
			</if>
		)values(
			#{id}
			,#{pw}
			<if test="name != null and name != ''">
			,#{name}
			</if>
			<if test="email != null and email != ''">
			,#{email}
			</if>
		)
	</insert>
	
	<select id="getMemberById" parameterType="String" resultType="member">
	select
		*
	from test_member
	where
		id = #{id}	
	</select>
	
	<select id="getMembers" resultType="member">
	select
		*
	from test_member
	</select>

</mapper>